{% extends 'layout.html' %}

{% block body %}
  <h1>Add new material</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group"> <!-- Bootstrap form -->
      {{render_field(form.compoundName, class_="form-control")}}
    </div>
    <div class="form-group"> <!-- Bootstrap form -->
      {{render_field(form.chemicalFormula, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.canonicalSmile, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.type, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.casNumber, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.productNumber, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.supplier, class_="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
{% endblock %}
